
.footer{

    display: flex;
    &__left, &__middle, &__right {

        position: relative;
        width: 33%;
        height: 20rem;

    }


    &__left {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    &__title, &__text {
        
        text-align: start;
        margin: 0.625rem 3.125rem;

    }

    &__right {

        background-image: url('../img/img-2.png');
        background-position: center;
        background-size: cover;
        width: 34%;

    }

    &__bluebox{

        background-color: $blue-france;
        width: 100%;
        height: 80%;
        position: relative;

    }

    &__mapbox {

        background-image: url('../img/img-4.png');
        background-position: center;
        background-size: cover;
        width: 90%;
        height: 80%;
        position: absolute;
        left: -2rem;
        bottom: 0.125rem;

    }

    &__beansbox{

        background-image: url('../img/img-3.png');
        background-position: center;
        background-size: cover;
        width: 6vw;
        height: 60%;
        position: absolute;
        left: -2.5rem;
    }

}
